.container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-pane {
  position: fixed;
  left: 0;
  width: 300px;
  height: 100%;
  border: 1px solid black;
}

.right-pane {
  margin-left: 305px;
  width: calc(100vw - 350px);
  display: flex;
  justify-content: center;
  /* height: 100vh; */
}

.full-width {
  width: 100%;
}

@media only screen and (max-width: 800px) {}
