<div class="container-box">
  <div class="header">
    Search with do they have it?
  </div>

  <!-- text block -->
  <div class="text-block">
    <span>
      Gone are the days of having to go to multiple stores only to realize the
      last jar of peanut butter is gone! It ends right now. With
      <span style="font-family: 'Permanent Marker', cursive;">
        "do they have it” </span
      >, you can search across target
    </span>
    <span style="text-decoration: line-through;">
      , walmart, sams, cvs and walgreens.
    </span>
  </div>

  <!-- query block -->
  <div class="query-block">
    <mat-card>
      <form [formGroup]="searchForm">
        <div class="row">
          <mat-form-field>
            <input
              matInput
              #query
              placeholder="Search"
              formControlName="searchQuery"
            />
            <mat-hint align="start"
              ><strong>Peanut butter, anyone?</strong>
            </mat-hint>
          </mat-form-field>
          <div class="action-row">
            <button (click)="submit()">
              <img src="/assets/images/search-icon.png" />
            </button>
          </div>
        </div>
        <div class="row">
          <div class="miles-block">
            <span>within</span>
            <mat-form-field>
              <input
                matInput
                #query
                placeholder="distance"
                formControlName="mileRange"
              />
            </mat-form-field>
            <span>miles</span>
          </div>
          <div class="postal-code-block">
            <span>of</span>
            <mat-form-field>
              <input
                matInput
                #query
                placeholder="postal code"
                formControlName="postalCode"
                maxlength="5"
              />
            </mat-form-field>
          </div>
        </div>
      </form>
    </mat-card>
  </div>
</div>
