<div class="container-box">
  <div class="header">
    Search with do they have it?
  </div>

  <!-- text block -->
  <div class="text-block">
    <span>
      Gone are the days of having to go to multiple stores only to realize the
      last jar of peanut butter is gone! It ends right now. With
      <span style="font-family: 'Permanent Marker', cursive;">
        "do they have it” </span>, you can search across target
    </span>
    <span style="text-decoration: line-through;">
      , walmart, sams, cvs and walgreens.
    </span>
  </div>

  <!-- query block -->
  <div class="query-block">
    <form [formGroup]="searchForm">
      <div class="row">
        <mat-form-field>
          <input matInput #query placeholder="Search" formControlName="searchQuery" />
          <mat-hint align="start"><strong>Peanut butter, anyone?</strong>
          </mat-hint>
        </mat-form-field>
        <div class="action-row">
          <button (click)="submit()" [disabled]="disable || searchForm.invalid">
            <img src="/assets/images/search.png" />
          </button>
        </div>
      </div>
      <div class="row">
        <div class="miles-block">
          <span>within</span>
          <mat-form-field>
            <input matInput #query placeholder="distance" formControlName="mileRange" />
          </mat-form-field>
          <span>miles</span>
        </div>
        <div class="postal-code-block">
          <span>of</span>
          <mat-form-field>
            <input matInput #query placeholder="postal code" formControlName="postalCode" maxlength="5" />
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>

  <!-- additional cards block -->
  <div class="additional-info-block">
    <div class="header">
      Why use do they have it?
    </div>
    <div class="cards-block">
      <mat-card class=" color-1">
        <div class="card-b">
          <div class="header">
            Help flattern the curve!
          </div>
          <div class="content">
            check if an item is available even before heading to the store.
            Social distancing is the key!
          </div>
        </div>
      </mat-card>
      <mat-card class="color-2">
        <div class="card-b">
          <div class="header">
            Inventory updates in near real time
          </div>
          <div class="content">
            <span>
              Beep! Beep! Boop! Bop!
            </span>
            <span>
              Our robots are working around the clock to give you an accurate
              inventory.
            </span>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- covid awareness block -->
  <div class="covid-awarness-block">
    <div class="header">
      Let's fight covid-19 together!
    </div>
    <div class="article">
      <span>
        Stay informed with the most up-to-date recommendations from the World Health Organization
        <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">here
        </a>
      </span>
      <span>
        Remember: keeping yourself safe and healthy helps to keep everyone in our community safe and healthy, too.
      </span>
    </div>
  </div>

  <!-- spread the word block -->
  <div class="spread-the-word">
    <div class="header">
      Spread the word!
    </div>
    <div class="social-links">
      <a href="https://www.reddit.com/submit?url=http://dothyhaveit.com" target="_blank">
        <img src="/assets/images/reddit.png">
      </a>
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank">
        <img src="/assets/images/twitter.png">
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fdothyhaveit.com%2F&amp;src=sdkpreparse"
        target="_blank">
        <img src="/assets/images/facebook.png">
      </a>
    </div>
  </div>
