<div class="container">
  <div class="header">
    <div class="header-text">{{ searchQuery | titlecase }}</div>
    <div class="back-btn-block" (click)="goBack()">
      <mat-icon>reply</mat-icon>
      go back
    </div>
  </div>
  <div class="fun-stuff">
    <mat-card class="color-3">
      Hey you! Please don't be that guy we all read about in math textbooks. No!
      No one can possibly eat 50 dozens of bananas.
    </mat-card>
  </div>
  <div class="result-scroll">
    <span class="text">
      See results for
    </span>
    <mat-card (click)="scrollTo('target')">Target</mat-card>
    <mat-card (click)="scrollTo('walmart')">Walmart</mat-card>
  </div>
  <div class="store">
    <app-target #target [mileRange]="mileRange" [searchQuery]="searchQuery" [postalCode]="postalCode"></app-target>
    <hr />
    <app-walmart #walmart [mileRange]="mileRange" [searchQuery]="searchQuery" [postalCode]="postalCode"></app-walmart>
    <hr />
  </div>
</div>
