.container {
  margin-top: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 24px;
}

.my-list-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #5c9b9d
}

.my-list-block .mat-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.back-btn-block {
  display: flex;
  cursor: pointer;
}

.back-btn-block .mat-icon {
  margin-right: 10px;
}

.fun-stuff {
  margin: 10px 10px;
}

.fun-stuff .mat-card {
  padding: 10px;
  color: white;
  text-align: center;
}

.color-3 {
  background: #5c9b9d;
}


.result-scroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result-scroll .text {
  margin-right: 10px;
}

.result-scroll .mat-card {
  padding: 5px 10px;
  width: 80px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  background-color: #645186;
  color: white;
  font-size: 14px;
}
