<div class="container">
  <div class="header">
    <div class="header-image">
      <img src="/assets/images/walmart-corp.png" />
      <span class="header-text">Walmart</span>
    </div>
    <div class="header-warning">
      Note: Inventory may be inaccurate due to increased demand.
    </div>
  </div>
  <div class="content" *ngIf="loaded && allProducts.length > 0">
    <div class="page-navigation">
      <span class="text">
        Pages
      </span>
      <mat-card [ngClass]="{'grayed-out': onPage[x] == 1}" *ngFor="let idx of allProducts; let x = index;"
        (click)="navigatePage(x)">
        {{x + 1}}
      </mat-card>
    </div>
    <div class="products">
      <div *ngFor="let product of allProducts[page]; let i = index">
        <mat-card>
          <mat-card-content>
            <div class="image">
              <img src="{{ product.image }}" />
            </div>
            <div class="product-details">
              <span class="title">
                {{ product.name }}
              </span>
              <div class="row">
                <!-- <span class="price">
                  <mat-icon>attach_money</mat-icon>
                  {{ product.price }}
                </span> -->
                <!-- <span class="view-item">
                  <a target="_blank" href="{{ product.url }}">view item</a>
                </span> -->
                <span class="rating">
                  <mat-icon [ngClass]="{
                      gold: product.rating > 4,
                      red: product.rating < 2
                    }">grade</mat-icon>
                  {{ product.rating }}
                </span>
              </div>
            </div>
            <div class="locations">
              <div class="header">
                Stores near you
              </div>
              <div class="out-of-stock" *ngIf="product.out_of_stock">
                uh-oh! product out of stock at this location
              </div>
              <div *ngIf="!product.out_of_stock">
                <div class="store" *ngFor="let store of product.locations; let j = index">
                  <div>
                    <div class="row">
                      <span class="store-distance">
                        <mat-icon>location_on</mat-icon>
                        {{ store.store.distance | number }}{{ ' mi' }}
                      </span>
                      <span class="store-name">{{ store.store.displayName }}</span>
                      <!-- <span class="store-timings">
                        {{ store.store.operationalHours.todayHrs.startHr + ' am - ' + store.store.operationalHours.todayHrs.endHr + ' pm'}}
                      </span> -->
                    </div>
                    <div class="store-stock">{{ store.inventory.quantity }} items in stock</div>
                    <hr />
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div class="page-navigation">
      <span class="text">
        Pages
      </span>
      <mat-card [ngClass]="{'grayed-out': onPage[x] == 1}" *ngFor="let idx of allProducts; let x = index;"
        (click)="navigatePage(x)">
        {{x + 1}}
      </mat-card>
    </div>
  </div>
  <div class="content" *ngIf="!loaded">
    <div class="text">
      <span style="text-align: center;">
        Beep-Beep-Boop-Bop
      </span>
      <span *ngIf="!errorMsg" style="text-align: center;">
        Hang in there! our servers are working hard crunching those results for
        ya!
      </span>
      <span style="text-align: center;" *ngIf="!errorMsg">
        <img src="/assets/gifs/loading.gif" />
      </span>
      <span *ngIf="errorMsg" style="text-align: center;">
        {{ errorMsg }}
      </span>
    </div>
  </div>
</div>
